In [1]:
import json
import pandas as pd
import random
import numpy as np
from difflib import get_close_matches
from openpyxl import load_workbook
import unicodedata

import draft

In [3]:

data_path = "Draft22Netflix_completed.csv"
table_path = "/Users/Samuel Tull/OneDrive/Documents/NotCambridge/Draft22.xlsx"

In [5]:
managers = [
        "Tull",
        "Oliver",
        "Openshaw",
        "Tomkinson",
        "Griffin",
        "Cornell",
        "Jarvis",
    ]

In [4]:
df = pd.read_json("https://play.fifa.com/json/fantasy/players.json")
squads = pd.read_json("https://play.fifa.com/json/fantasy/squads_fifa.json")

In [6]:
df = draft.json_normalise(df, "stats")
df = draft.json_normalise(df, "matchDayPoints", True)

NameError: name 'df' is not defined

In [4]:
df_comp = pd.read_csv(data_path)

In [6]:
df_comp.query("manager== 'Oliver'")

,id,feedId,firstName,name,preferredName,squadId,cost,status,position,locked,...,seed,group,eliminated,available,manager,draftNumber,draftRound,minCost,value,draftRank
1,389867,389867.0,Kylian,Kylian Mbappe,Mbappe,43946,11.5,available,FWD,0,...,1,d,False,False,Oliver,4,1,4.5,7.0,2
26,273996,273996.0,Eden,Eden Hazard,Hazard,43935,8.0,available,MID,0,...,1,f,False,False,Oliver,67,10,3.5,4.5,27
38,336098,336098.0,Memphis,Memphis Depay,Depay,43960,8.5,available,FWD,0,...,4,a,False,False,Oliver,18,3,4.5,4.0,39
39,358690,358690.0,Ilkay,Ilkay Gundogan,Gundogan,43948,7.5,available,MID,0,...,3,e,False,False,Oliver,53,8,3.5,4.0,40
63,402920,402920.0,Lautaro,Lautaro Martinez,Martinez,43922,8.0,available,FWD,0,...,1,c,False,False,Oliver,11,2,4.5,3.5,64
93,436612,436612.0,Denzel,Denzel Dumfries,Dumfries,43960,6.0,available,DEF,0,...,4,a,False,False,Oliver,25,4,3.0,3.0,94
96,289964,289964.0,Thiago,Thiago Silva,Silva,43924,6.0,available,DEF,0,...,1,g,False,False,Oliver,39,6,3.0,3.0,97
157,308322,308322.0,Nicolas,Nicolas Tagliafico,Tagliafico,43922,5.5,available,DEF,0,...,1,c,False,False,Oliver,46,7,3.0,2.5,158
162,335656,335656.0,NaN,Danilo,Danilo,43924,5.5,available,DEF,0,...,1,g,False,False,Oliver,74,11,3.0,2.5,163
241,308300,308300.0,Damian,Damian Martinez,Martinez,43922,5.5,available,GKP,0,...,1,c,False,False,Oliver,32,5,3.5,2.0,242
266,368652,368652.0,Giorgian,Giorgian De Arrascaeta,De Arrascaeta,43930,5.5,available,MID,0,...,3,h,False,False,Oliver,60,9,3.5,2.0,267

In [2]:
df

NameError: name 'df' is not defined

In [26]:
df.columns

Index(['id', 'feedId', 'firstName', 'name', 'preferredName', 'squadId', 'cost',
       'status', 'position', 'locked', 'totalPoints', 'avgPoints',
       'gamesPlayed', 'roundScores', 'tournamentScores', 'pickedBy', 'goals',
       'assists', 'redCard', 'yellowCard', 'ownGoals', 'penaltySave',
       'penaltyMissed', 'starting11', 'substitutions', 'cleanSheets',
       'goalsConceded', 'matchDayPoints_1', 'matchDayPoints_2',
       'matchDayPoints_3', 'matchDayPoints_4', 'matchDayPoints_5',
       'matchDayPoints_6', 'matchDayPoints_7', 'matchDayPoints_8',
       'matchDayPoints_9', 'matchDayPoints_10', 'matchDayPoints_11',
       'matchDayPoints_12', 'matchDayPoints_13', 'matchDayPoints_14',
       'matchDayPoints_15', 'matchDayPoints_16', 'matchDayPoints_17',
       'matchDayPoints_18', 'matchDayPoints_19', 'matchDayPoints_20',
       'matchDayPoints_21', 'matchDayPoints_22'],
      dtype='object')

In [36]:
df = df.fillna(0)

In [38]:
df

,id,feedId,firstName,name,preferredName,squadId,cost,status,position,locked,...,matchDayPoints_20,matchDayPoints_21,matchDayPoints_22,GW1,GW2,GW3,GW4,GW5,GW6,GW7
0,182347,182347.0,Atiba,Atiba Hutchinson,Hutchinson,43899,5500000,available,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,190962,190962.0,Dani,Dani Alves,Alves,43924,4500000,available,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,197419,197419.0,Danny,Danny Vukovic,Vukovic,43976,4000000,available,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,198117,198117.0,Eiji,Eiji Kawashima,Kawashima,43819,4500000,available,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,199175,199175.0,Keylor,Keylor Navas,Navas,43901,5000000,available,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,666666,433126.0,Ivica,Ivusic,Ivica Ivusic,43938,4500000,available,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,777777,431757.0,Sultan,Alghannam,Sultan Alghannam,43835,4000000,available,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
944,888888,430069.0,Strahinja,Pavlovic,Strahinja Pavlovic,1902465,4000000,available,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
945,999999,402895.0,Vina,Matias,Vina Matias,43930,4000000,available,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
946,1111152,321734.0,Shuichi,Shuichi Gonda,Gonda,43819,4000000,available,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
cols = ["name","team","abbr","seed","group","eliminated","available","manager","draftNumber","draftRound","draftRank"]

df_comp[cols]

,name,team,abbr,seed,group,eliminated,available,manager,draftNumber,draftRound,draftRank
0,Kevin De Bruyne,Belgium,BEL,1,f,False,False,Cornell,1,1,1
1,Kylian Mbappe,France,FRA,1,d,False,False,Oliver,4,1,2
2,Harry Kane,England,ENG,1,b,False,False,Tull,3,1,3
3,Karim Benzema,France,FRA,1,d,False,False,Jarvis,5,1,4
4,Lionel Messi,Argentina,ARG,1,c,False,False,Openshaw,2,1,5
...,...,...,...,...,...,...,...,...,...,...,...
942,Adam Taggart,Australia,AUS,0,a,False,True,NaN,0,0,943
943,Hatan Bahbri,Saudi Arabia,KSA,2,c,False,True,NaN,0,0,944
944,Fahad Al-Muwallad,Saudi Arabia,KSA,2,c,False,True,NaN,0,0,945
945,Haroune Camara,Saudi Arabia,KSA,2,c,False,True,NaN,0,0,946
946,Abdulrahman Alobud,Saudi Arabia,KSA,2,c,False,True,NaN,0,0,947

In [24]:
df_comp[cols].merge(df,how ="left",on="name").columns

Index(['name', 'team', 'abbr', 'seed', 'group', 'eliminated', 'available',
       'manager', 'draftNumber', 'draftRound', 'draftRank', 'id', 'feedId',
       'firstName', 'preferredName', 'squadId', 'cost', 'status', 'position',
       'locked', 'totalPoints', 'avgPoints', 'gamesPlayed', 'roundScores',
       'tournamentScores', 'pickedBy', 'goals', 'assists', 'redCard',
       'yellowCard', 'ownGoals', 'penaltySave', 'penaltyMissed', 'starting11',
       'substitutions', 'cleanSheets', 'goalsConceded', 'matchDayPoints_1',
       'matchDayPoints_2', 'matchDayPoints_3', 'matchDayPoints_4',
       'matchDayPoints_5', 'matchDayPoints_6', 'matchDayPoints_7',
       'matchDayPoints_8', 'matchDayPoints_9', 'matchDayPoints_10',
       'matchDayPoints_11', 'matchDayPoints_12', 'matchDayPoints_13',
       'matchDayPoints_14', 'matchDayPoints_15', 'matchDayPoints_16',
       'matchDayPoints_17', 'matchDayPoints_18', 'matchDayPoints_19',
       'matchDayPoints_20', 'matchDayPoints_21', 'matchDayPoints_22'],
      dtype='object')

In [ ]:
def json_normalise(df,col,add_prefix=False):
    # takes in a DataFrame and does json normalise on the column cols/ column in cols
    df = df.reset_index(drop=True)
    df_nested = df[col].apply(pd.Series)
    if add_prefix:
        df_nested = df_nested.add_prefix(col+"_")
    df = df.merge(df_nested,left_index=True,right_index=True)
    df = df.drop(columns=col)
    return df

In [ ]:
df = json_normalise(df,"stats")
df = json_normalise(df,"matchDayPoints",True)

In [ ]:
squads["eliminated"] = squads["isActive"].apply(lambda x: not x)
squads = squads.rename(columns={"id":"squadId","name":"team"})
squads = squads[["squadId","team","abbr","seed","group","eliminated"]]

In [ ]:
df = df.merge(squads,on="squadId",how="left")
# turn cost to 4.5 (not 450000)
df["cost"] = df["cost"].apply(lambda x:round(x/1000000,2))
df["position"] = df["position"].map({1:"  GKP",2:" DEF",3:" MID",4:"FWD"})
# 
df["available"] = True 
df["manager"] = None
df["draftNumber"] = 0
df["draftRound"] = 0

In [ ]:
#averageCost = players.groupby("position").mean()["cost"].reset_index(name="averageCost")
minCost = df.groupby("position").min()["cost"].reset_index(name="minCost")
df = df.merge(minCost,on="position",how="left")
df["value"] = df["cost"]-df["minCost"]
df = df.sort_values(["value","pickedBy"],ascending=False)
df = df.reset_index(drop=True)
df["draftRank"] = df.index+1

In [ ]:
managers = ["Tull","Oliver","Cornell","Jarvis"]
random.shuffle(managers)
managers

['Tull', 'Jarvis', 'Oliver', 'Cornell']

In [ ]:
# not all capitalised -> eg Frankie de Jong
# use split(" ",1) not strip beacause of de Jong eg
# use [-1] not 0/1 for indexing because of neymar
# there are duplicates in surname
# also muller, sane with umlaut

import unicodedata

def strip_accents(s):
    return ''.join(c for c in unicodedata.normalize('NFD', s)
              if unicodedata.category(c) != 'Mn')
    
def strip_string(s):
    return strip_accents(s).replace(" ","").upper()

def find_match(name):
    #check capitals, surname, umlauts etc
    potential = []
    x = strip_string(name)
    for i in df.index: 
        y = strip_string(df["name"][i])
        if x == y: 
            return [df["name"][i]]
        elif x in y:
            potential.append(df["name"][i])
    if len(potential) > 0 :
        return potential
    else: 
        return find_close_match(name)

def find_close_match(name): 
    if " " in name:
        closeMatch = get_close_matches(name.title(),df["name"].values,n=3,cutoff=0.8)
    else: 
        closeMatch = get_close_matches(name.title(),[x.split(" ",1)[-1] for x in df["name"]],n=3,cutoff=0.9)
        if closeMatch:
            for name in df["name"]:
                for i in range(len(closeMatch)):
                    if closeMatch[i] == name.split(" ",1)[-1]:
                        closeMatch[i] = name    
    return closeMatch

def checkDraftable(i,manager):
    player = df.loc[i]["name"]
    if not df.loc[i]["available"]:
        playerOwner = df.loc[i]["manager"]
        print(f"Cannot draft {player}, owned by {playerOwner}")
        return False

    playerPosition = df.loc[i]["position"]
    maxPosition = {"  GKP":2," DEF":5," MID":5,"FWD":3}[playerPosition]
    managerPositionCount = len(df.query("manager == @manager").query("position==@playerPosition"))
    if managerPositionCount>= maxPosition:
        print(f"Cannot draft {player} as this would exceed the number of {playerPosition} ({maxPosition})")
        return False
    
    return True

In [ ]:
def draft(draftNumber,draftRound,roundPick,manager):
    print(f"Round {draftRound+1}, Choice {roundPick+1}, Picking: {manager}...")
    valid = False
    while not valid:
        player = input("Pick")
        print(f"Entered: {player}")
        if player in df["name"].values: 
            valid = True
        else:
            potential = find_match(player)
            if len(potential)==1:
                valid = True
                player = potential[0]
            elif len(potential)>1:
                print("".join(potential[i]+", " for i in range(len(potential)) if i<4))
                print("Which did you mean?")
            else:
                print(f"No player named: {player}")
    
        if valid:
            for i in df.index:
                if df.loc[i]["name"] == player:
                    if checkDraftable(i,manager):
                        df.at[i,"available"] = False
                        df.at[i,"manager"] = manager
                        df.at[i,"draftNumber"] = draftNumber + 1
                        df.at[i,"draftRound"] = draftRound + 1
                    else:
                        valid = False
                    break

                    
    print(f"{manager} drafted {player}")
    dfManager = df.query("manager == @manager")[cols_save+["draftRound"]]
    dfManager.sort_values(["position","draftRound"]).to_csv(path+f"{manager}.csv",index=False)
    dfAvailable = df.query("available")[cols_save]
    dfAvailable.to_csv(path+"Available.csv",index=False)

    nextDraftNumbers = []
    nextManagers = []
    for i in range(2*N-1):
        j = draftNumber + i + 1
        nextDraftNumbers.append(j+1)
        if (j//N)%2 == 0:
            nextManagers.append(managers[j%N])
        else:
            nextManagers.append(managers[j%N])
    dfFuture = pd.DataFrame({"draftNumber":nextDraftNumbers,"manager":nextManagers})
    dfHistory = df.query("~available")[cols_history].fillna("")
    dfHistory = pd.concat([dfHistory,dfFuture])
    dfHistory["turnsTillDraft"] = dfHistory["draftNumber"] - 2 - draftNumber
    dfHistory.sort_values("draftNumber",ascending=False).to_csv(path+"History.csv",index=False)

    roundBackups.append(df)

In [ ]:
N = len(managers)
for i in range(5*N):#(15*N):
    draftRound = i//N
    roundPick = i%N
    isRoundForward = draftRound%2 == 0
    if isRoundForward:
        manager = managers[roundPick]
    else: 
        manager = managers[N-roundPick-1]
    draft(i,draftRound,roundPick,manager)

Round 1, Choice 1, Picking: Tull...
Entered:
Kevin De Bruyne, Kylian Mbappé, Harry Kane, Karim Benzema,
Which did you mean?

KeyboardInterrupt: Interrupted by user

In [ ]:
N = len(managers)
draftNumber = 9

In [ ]:
nextBlanks = ["" for _ in nextManagers]
dfFuture = pd.DataFrame({"draftNumber":nextDraftNumbers,"manager":nextManagers,"name":nextBlanks,"team":nextBlanks,"position":nextBlanks})
dfHistory = df.query("~available")[cols_history]
dfHistory = pd.concat([dfHistory,dfFuture])
dfHistory["turnsTillDraft"] = dfHistory["draftNumber"] - 2 - draftNumber
dfHistory.sort_values("draftNumber",ascending=False).to_csv(path+"History.csv",index=False)

,draftNumber,manager,name,team,position,turnsTillDraft
4,15,Cornell,,,,4
3,14,Oliver,,,,3
2,13,Tull,,,,2
1,12,Cornell,,,,1
0,11,Oliver,,,,0
231,10,Oliver,Ben White,England,DEF,-1
11,9,Tull,Bernardo Silva,Portugal,MID,-2
63,8,Tull,Thiago Silva,Brazil,DEF,-3
151,7,Oliver,Alisson,Brazil,GKP,-4
574,6,Oliver,Nick Pope,England,GKP,-5
219,5,Tull,Jordan Pickford,England,GKP,-6
0,4,Tull,Kevin De Bruyne,Belgium,MID,-7
1,3,Oliver,Kylian Mbappé,France,FWD,-8
4,2,Oliver,Lionel Messi,Argentina,FWD,-9
7,1,Tull,Cristiano Ronaldo,Portugal,FWD,-10